@charset "UTF-8";
/* CSS Document */

/*#myLayout {width: 40em;}*/

head {
	background-color: red;
}

body {
	background-image: url("../images/checker.gif");
	background-repeat: repeat;
	background-position: center;
	width: 80%;
	height: 98%;
	margin: 3% auto 1% auto;
	border: 0.1em solid green;
	border-radius: 1em;
	box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
}

h1 {
	font-size: 2em;
	text-align: center;
}

h5 {
	text-align: center;
}


#main {
	width: 90%;
	height: 95%;
	margin: 2em auto 2em auto;
	padding: 1em 2em 2em 2em;
	border-radius: 1em;
	background-color: rgba(0,255,0,0.3);
}

#navlist li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

article {
	width: 90%;
	margin:auto;
	padding: 1em 1em 1em 1em;
	background-color: #ffffff;
	border: 0.1em solid black;
	border-radius: 0.5em;
}

#columns {
        width: 100%;
}
	
.column1, .column2 {
	width: 46%;
	float: left;
	padding: 1%;
	margin: 1%;
	border-radius: 5px;
	  
}
footer {
	margin-top: 15%;
	clear:both;
}

a:link {color:#000000;}    
a:visited {color:#1C1B80;}  
a:hover {color:#FFFFFF;} 
a:active {color:#0000FF;}