@charset "UTF-8";
/* CSS Document */

/*#myLayout {width: 40em;}*/

head {
	background-color: red;
}

body {
	background-image: url("../images/checker.gif");
	background-repeat: repeat;
	background-position: center;
	width: 98%;
	height: 98%;
	margin: 1%;
	border: 0.1em solid green;
	border-radius: 1em;
	box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
}

#main {
	width: 75%;
	height: 95%;
	margin: 2em auto 2em auto;
	padding: 1em 2em 2em 2em;
	border-radius: 1em;
	background-color: rgba(0,255,0,0.3);
}

article {
	width: 90%;
	margin:auto;
	padding: 1em 1em 1em 1em;
	background-color: #ffffff;
	border: 0.1em solid black;
	border-radius: 0.5em;
}

p {
	text-indent: 30px;
}

#columns {
        width: 100%;
}
	
.column1, .column2 {
	width: 46%;
	float: left;
	padding: 1%;
	margin: 1%;
	border-radius: 5px;
	  
}
footer {
	clear:both;
}

a:link {color:#000000;}    
a:visited {color:#1C1B80;}  
a:hover {color:#FFFFFF;} 
a:active {color:#0000FF;}